<?xml version="1.0"?>
<config>
    <modules>
        <Savvy_AccessEPay>
            <version>1.0.0</version>
        </Savvy_AccessEPay>
    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <card_type>
                    <to_order_payment>*</to_order_payment>
                </card_type>
            </sales_convert_quote_payment>
        </fieldsets>

        <helpers>
            <accessepay>
                <class>Savvy_AccessEPay_Helper</class>
            </accessepay>
        </helpers>

        <blocks>
            <accessepay>
                <class>Savvy_AccessEPay_Block</class>
            </accessepay>
        </blocks>

        <models>
            <accessepay>
                <class>Savvy_AccessEPay_Model</class>
            </accessepay>
            <accessepay_resource>
                <class>Savvy_AccessEPay_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>accessepay_transaction</table>
                    </transaction>
                </entities>
            </accessepay_resource>
        </models>

        <resources>
            <accessepay_setup>
                <setup>
                    <module>Savvy_AccessEPay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </accessepay_setup>
            <accessepay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </accessepay_write>
            <accessepay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </accessepay_read>
        </resources>
    </global>

    <default>
        <payment>
            <accessepay>
                <active>1</active>
                <model>accessepay/payment_access</model>
                <order_status>pending</order_status>
                <title>AccessEPay</title>
                <allowspecific>0</allowspecific>
                <payment_action>pay</payment_action>
            </accessepay>
        </payment>
    </default>

    <frontend>
        <routers>
            <accessepay>
                <use>standard</use>
                <args>
                    <module>Savvy_AccessEPay</module>
                    <frontName>accessepay</frontName>
                </args>
            </accessepay>
        </routers>
    </frontend>
</config>